@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image {
    height: 225px;
    width: 217px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

img {
    width: 156px;
    height: 156px;
    border-radius: 16px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #4e5150;
}

.location {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #a9a9a9;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 370px;
    align-items: center;
    margin-top: 25px;
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 67px;
    width: 100px;
    background: #e5e5e5;
    border-radius: 12px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #4e5150;
}

.social {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #bdbdbd;
}